{% extends 'catalog/base.html' %}
{% load media_tager %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Материал "{{ object|title }}" ({{ object.slug }})
                    </h3>
                </div>
                <div class="card-body">
                <img src="{% media_tager object.image %}" alt="Изображение"  width="250" height="250"/>
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.body }}</p>
                <p class="card-text">Создано: {{ object.is_published }}</p>
                <a href="{% url 'materials:list_material' %}" class="btn btn-primary">К списку статей</a>
            </div>
                <div class="card-footer">Просмотры : {{ object.views_count }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}